:root {
  /* red */
  --red-5: hsl(0, 80%, 95%);
  --red-10: hsl(0, 80%, 90%);
  --red-15: hsl(0, 80%, 85%);
  --red-20: hsl(0, 80%, 80%);
  --red-25: hsl(0, 80%, 75%);
  --red-30: hsl(0, 80%, 70%);
  --red-35: hsl(0, 80%, 65%);
  --red-40: hsl(0, 80%, 60%);
  --red-45: hsl(0, 80%, 55%);
  --red-50: hsl(0, 80%, 50%);
  --red-55: hsl(0, 80%, 45%);
  --red-60: hsl(0, 80%, 40%);
  --red-65: hsl(0, 80%, 35%);
  --red-70: hsl(0, 80%, 30%);
  --red-75: hsl(0, 80%, 25%);
  --red-80: hsl(0, 80%, 20%);
  --red-85: hsl(0, 80%, 15%);
  --red-90: hsl(0, 80%, 10%);

  /* orange */
  --orange-5: hsl(30, 100%, 95%);
  --orange-10: hsl(30, 100%, 90%);
  --orange-15: hsl(30, 100%, 85%);
  --orange-20: hsl(30, 100%, 80%);
  --orange-25: hsl(30, 100%, 75%);
  --orange-30: hsl(30, 100%, 70%);
  --orange-35: hsl(30, 100%, 65%);
  --orange-40: hsl(30, 100%, 60%);
  --orange-45: hsl(30, 100%, 55%);
  --orange-50: hsl(30, 100%, 50%);
  --orange-55: hsl(30, 100%, 45%);
  --orange-60: hsl(30, 100%, 40%);
  --orange-65: hsl(30, 100%, 35%);
  --orange-70: hsl(30, 100%, 30%);
  --orange-75: hsl(30, 100%, 25%);
  --orange-80: hsl(30, 100%, 20%);
  --orange-85: hsl(30, 100%, 15%);
  --orange-90: hsl(30, 100%, 10%);

  /* yellow */
  --yellow-5: hsl(45, 95%, 95%);
  --yellow-10: hsl(45, 95%, 90%);
  --yellow-15: hsl(45, 95%, 85%);
  --yellow-20: hsl(45, 95%, 80%);
  --yellow-25: hsl(45, 95%, 75%);
  --yellow-30: hsl(45, 95%, 70%);
  --yellow-35: hsl(45, 95%, 65%);
  --yellow-40: hsl(45, 95%, 60%);
  --yellow-45: hsl(45, 95%, 55%);
  --yellow-50: hsl(45, 95%, 50%);
  --yellow-55: hsl(45, 95%, 45%);
  --yellow-60: hsl(45, 95%, 40%);
  --yellow-65: hsl(45, 95%, 35%);
  --yellow-70: hsl(45, 95%, 30%);
  --yellow-75: hsl(45, 95%, 25%);
  --yellow-80: hsl(45, 95%, 20%);
  --yellow-85: hsl(45, 95%, 15%);
  --yellow-90: hsl(45, 95%, 10%);

  /* green */
  --green-5: hsl(140, 60%, 95%);
  --green-10: hsl(140, 60%, 90%);
  --green-15: hsl(140, 60%, 85%);
  --green-20: hsl(140, 60%, 80%);
  --green-25: hsl(140, 60%, 75%);
  --green-30: hsl(140, 60%, 70%);
  --green-35: hsl(140, 60%, 65%);
  --green-40: hsl(140, 60%, 60%);
  --green-45: hsl(140, 60%, 55%);
  --green-50: hsl(140, 60%, 50%);
  --green-55: hsl(140, 60%, 45%);
  --green-60: hsl(140, 60%, 40%);
  --green-65: hsl(140, 60%, 35%);
  --green-70: hsl(140, 60%, 30%);
  --green-75: hsl(140, 60%, 25%);
  --green-80: hsl(140, 60%, 20%);
  --green-85: hsl(140, 60%, 15%);
  --green-90: hsl(140, 60%, 10%);

  /* teal */
  --teal-5: hsl(180, 60%, 95%);
  --teal-10: hsl(180, 60%, 90%);
  --teal-15: hsl(180, 60%, 85%);
  --teal-20: hsl(180, 60%, 80%);
  --teal-25: hsl(180, 60%, 75%);
  --teal-30: hsl(180, 60%, 70%);
  --teal-35: hsl(180, 60%, 65%);
  --teal-40: hsl(180, 60%, 60%);
  --teal-45: hsl(180, 60%, 55%);
  --teal-50: hsl(180, 60%, 50%);
  --teal-55: hsl(180, 60%, 45%);
  --teal-60: hsl(180, 60%, 40%);
  --teal-65: hsl(180, 60%, 35%);
  --teal-70: hsl(180, 60%, 30%);
  --teal-75: hsl(180, 60%, 25%);
  --teal-80: hsl(180, 60%, 20%);
  --teal-85: hsl(180, 60%, 15%);
  --teal-90: hsl(180, 60%, 10%);

  /* blue */
  --blue-5: hsl(205, 85%, 95%);
  --blue-10: hsl(205, 85%, 90%);
  --blue-15: hsl(205, 85%, 85%);
  --blue-20: hsl(205, 85%, 80%);
  --blue-25: hsl(205, 85%, 75%);
  --blue-30: hsl(205, 85%, 70%);
  --blue-35: hsl(205, 85%, 65%);
  --blue-40: hsl(205, 85%, 60%);
  --blue-45: hsl(205, 85%, 55%);
  --blue-50: hsl(205, 85%, 50%);
  --blue-55: hsl(205, 85%, 45%);
  --blue-60: hsl(205, 85%, 40%);
  --blue-65: hsl(205, 85%, 35%);
  --blue-70: hsl(205, 85%, 30%);
  --blue-75: hsl(205, 85%, 25%);
  --blue-80: hsl(205, 85%, 20%);
  --blue-85: hsl(205, 85%, 15%);
  --blue-90: hsl(205, 85%, 10%);

  /* indigo */
  --indigo-5: hsl(230, 60%, 95%);
  --indigo-10: hsl(230, 60%, 90%);
  --indigo-15: hsl(230, 60%, 85%);
  --indigo-20: hsl(230, 60%, 80%);
  --indigo-25: hsl(230, 60%, 75%);
  --indigo-30: hsl(230, 60%, 70%);
  --indigo-35: hsl(230, 60%, 65%);
  --indigo-40: hsl(230, 60%, 60%);
  --indigo-45: hsl(230, 60%, 55%);
  --indigo-50: hsl(230, 60%, 50%);
  --indigo-55: hsl(230, 60%, 45%);
  --indigo-60: hsl(230, 60%, 40%);
  --indigo-65: hsl(230, 60%, 35%);
  --indigo-70: hsl(230, 60%, 30%);
  --indigo-75: hsl(230, 60%, 25%);
  --indigo-80: hsl(230, 60%, 20%);
  --indigo-85: hsl(230, 60%, 15%);
  --indigo-90: hsl(230, 60%, 10%);

  /* violet */
  --violet-5: hsl(280, 70%, 95%);
  --violet-10: hsl(280, 70%, 90%);
  --violet-15: hsl(280, 70%, 85%);
  --violet-20: hsl(280, 70%, 80%);
  --violet-25: hsl(280, 70%, 75%);
  --violet-30: hsl(280, 70%, 70%);
  --violet-35: hsl(280, 70%, 65%);
  --violet-40: hsl(280, 70%, 60%);
  --violet-45: hsl(280, 70%, 55%);
  --violet-50: hsl(280, 70%, 50%);
  --violet-55: hsl(280, 70%, 45%);
  --violet-60: hsl(280, 70%, 40%);
  --violet-65: hsl(280, 70%, 35%);
  --violet-70: hsl(280, 70%, 30%);
  --violet-75: hsl(280, 70%, 25%);
  --violet-80: hsl(280, 70%, 20%);
  --violet-85: hsl(280, 70%, 15%);
  --violet-90: hsl(280, 70%, 10%);

  /* purple */
  --purple-5: hsl(310, 65%, 95%);
  --purple-10: hsl(310, 65%, 90%);
  --purple-15: hsl(310, 65%, 85%);
  --purple-20: hsl(310, 65%, 80%);
  --purple-25: hsl(310, 65%, 75%);
  --purple-30: hsl(310, 65%, 70%);
  --purple-35: hsl(310, 65%, 65%);
  --purple-40: hsl(310, 65%, 60%);
  --purple-45: hsl(310, 65%, 55%);
  --purple-50: hsl(310, 65%, 50%);
  --purple-55: hsl(310, 65%, 45%);
  --purple-60: hsl(310, 65%, 40%);
  --purple-65: hsl(310, 65%, 35%);
  --purple-70: hsl(310, 65%, 30%);
  --purple-75: hsl(310, 65%, 25%);
  --purple-80: hsl(310, 65%, 20%);
  --purple-85: hsl(310, 65%, 15%);
  --purple-90: hsl(310, 65%, 10%);

  /* pink */
  --pink-5: hsl(340, 90%, 95%);
  --pink-10: hsl(340, 90%, 90%);
  --pink-15: hsl(340, 90%, 85%);
  --pink-20: hsl(340, 90%, 80%);
  --pink-25: hsl(340, 90%, 75%);
  --pink-30: hsl(340, 90%, 70%);
  --pink-35: hsl(340, 90%, 65%);
  --pink-40: hsl(340, 90%, 60%);
  --pink-45: hsl(340, 90%, 55%);
  --pink-50: hsl(340, 90%, 50%);
  --pink-55: hsl(340, 90%, 45%);
  --pink-60: hsl(340, 90%, 40%);
  --pink-65: hsl(340, 90%, 35%);
  --pink-70: hsl(340, 90%, 30%);
  --pink-75: hsl(340, 90%, 25%);
  --pink-80: hsl(340, 90%, 20%);
  --pink-85: hsl(340, 90%, 15%);
  --pink-90: hsl(340, 90%, 10%);

  /* silver */
  --silver-5: hsl(200, 10%, 95%);
  --silver-10: hsl(200, 10%, 90%);
  --silver-15: hsl(200, 10%, 85%);
  --silver-20: hsl(200, 10%, 80%);
  --silver-25: hsl(200, 10%, 75%);
  --silver-30: hsl(200, 10%, 70%);
  --silver-35: hsl(200, 10%, 65%);
  --silver-40: hsl(200, 10%, 60%);
  --silver-45: hsl(200, 10%, 55%);
  --silver-50: hsl(200, 10%, 50%);
  --silver-55: hsl(200, 10%, 45%);
  --silver-60: hsl(200, 10%, 40%);
  --silver-65: hsl(200, 10%, 35%);
  --silver-70: hsl(200, 10%, 30%);
  --silver-75: hsl(200, 10%, 25%);
  --silver-80: hsl(200, 10%, 20%);
  --silver-85: hsl(200, 10%, 15%);
  --silver-90: hsl(200, 10%, 10%);

  /* gray */
  --gray-5: hsl(0, 0%, 95%);
  --gray-10: hsl(0, 0%, 90%);
  --gray-15: hsl(0, 0%, 85%);
  --gray-20: hsl(0, 0%, 80%);
  --gray-25: hsl(0, 0%, 75%);
  --gray-30: hsl(0, 0%, 70%);
  --gray-35: hsl(0, 0%, 65%);
  --gray-40: hsl(0, 0%, 60%);
  --gray-45: hsl(0, 0%, 55%);
  --gray-50: hsl(0, 0%, 50%);
  --gray-55: hsl(0, 0%, 45%);
  --gray-60: hsl(0, 0%, 40%);
  --gray-65: hsl(0, 0%, 35%);
  --gray-70: hsl(0, 0%, 30%);
  --gray-75: hsl(0, 0%, 25%);
  --gray-80: hsl(0, 0%, 20%);
  --gray-85: hsl(0, 0%, 15%);
  --gray-90: hsl(0, 0%, 10%);

  /* rusty */
  --rusty-5: hsl(40, 10%, 95%);
  --rusty-10: hsl(40, 10%, 90%);
  --rusty-15: hsl(40, 10%, 85%);
  --rusty-20: hsl(40, 10%, 80%);
  --rusty-25: hsl(40, 10%, 75%);
  --rusty-30: hsl(40, 10%, 70%);
  --rusty-35: hsl(40, 10%, 65%);
  --rusty-40: hsl(40, 10%, 60%);
  --rusty-45: hsl(40, 10%, 55%);
  --rusty-50: hsl(40, 10%, 50%);
  --rusty-55: hsl(40, 10%, 45%);
  --rusty-60: hsl(40, 10%, 40%);
  --rusty-65: hsl(40, 10%, 35%);
  --rusty-70: hsl(40, 10%, 30%);
  --rusty-75: hsl(40, 10%, 25%);
  --rusty-80: hsl(40, 10%, 20%);
  --rusty-85: hsl(40, 10%, 15%);
  --rusty-90: hsl(40, 10%, 10%);
}
